@font-face {
  font-family: 'Neue-Machina';
  src: url('../assets/fonts/PP-Neue-Machina/PPNeueMachina-InktrapUltrabold.ttf');
}

@font-face {
  font-family: 'Friends-title';
  src: url('../assets/fonts/Friends/Friends-SemiBold.ttf');
}

@font-face {
  font-family: 'Friends';
  src: url('../assets/fonts/Friends/Friends-Regular.ttf');
}

@font-face {
  font-family: 'Friends-bold';
  src: url('../assets/fonts/Friends/Friends-SemiBold.ttf');
}

@font-face {
  font-family: 'Friends-very-bold';
  src: url('../assets/fonts/Friends/Friends-UltraBold.ttf');
}

body,
html {
  overscroll-behavior-x: none;
  margin: 0;
  padding: 0;
  font-family: 'Friends', 'Open Sans', sans-serif;
  font-kerning: normal;
  background-color: #fff;
  scroll-behavior: smooth;
  cursor: default;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

b {
  font-family: 'Friends-bold';
}

p {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 300;
}

h2 {
  color: #000;
  font-size: 1.7rem;
  line-height: 2rem;
  font-family: 'Friends-very-bold';
}

.error {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link-error-page-container {
  display: flex;
  gap: 2rem;
  padding: 1rem;
}

/* Assets / Margins */

.title {
  color: #000;
  font-family: 'Friends-very-bold', 'Neue-Machina', "Open Sans", sans-serif;
  font-size: 3.5rem;
  line-height: 3.5rem;
  font-weight: 900;
  position: relative;
  letter-spacing: -.08rem;
}

@media screen and (max-width: 800px) {

  .title {
    line-height: 3rem;
    font-size: 2.5rem;
    letter-spacing: -.03rem;
  }

}

.paragraph {
  margin: 2rem 0;
}

.corps {
  color: #000;
  font-size: 1.5rem;
  line-height: 2.3rem;
  font-family: 'Friends';
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 1px #000000;
}

.subcontainer {
  width: 60%;
  padding: 10rem 0;
}

.container-work {
  border-bottom: none;
  padding: 10rem 0 0 0;
}

.subcontainer-work {
  width: 60%;
  border-bottom: 0;
}

.reveal {
  opacity: 0;
  transform: translateY(100px);
  transition: all .5s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/* Button */

.button-container {
  cursor: pointer;
  display: flex;
  width: fit-content;
  border-radius: 100px;
  color: #000;
  font-size: 1.2rem;
  border: solid 1px #000;
  text-align: center;
  padding: 1rem 2rem;
  transition: all .1s;
}

@media (hover: hover) {
  .button-container:hover {
    background-color: #ececec;
    transform: translateY(-3px);
  }
}

/* Navbar */

nav {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: rgba(255, 255, 255, 75%);
  backdrop-filter: blur(10px) contrast(75%);
  -webkit-backdrop-filter: blur(10px) contrast(70%);
  z-index: 20;
  border-bottom: solid 1px #000;
}

.nav-icon {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: color 0.2s;
  color: #000;
  transition: color 0.2s;
  font-size: 1.8rem;
  font-weight: 700;
  font-family: 'Neue-Machina';
  transform: translateY(2px);
}

.hamburger {
  display: none;
}

.navlinks-container a {
  font-family: 'Friends-bold';
  text-decoration: none;
  color: #000;
  transition: color 0.2s;
  font-weight: bold;
  padding: .5rem .8rem;
  border-radius: 10px;
  transition: 0.2s;
}

.navlinks-container a:not(:last-child) {
  margin-right: .8rem;
}

@media (hover: hover) {
  .nav-icon:hover {
    color: #0004ff;
  }
  .navlinks-container a:hover {
    background-color: #eaeaea;
  }
}

@media (max-width: 750px) {

  nav {
    padding: .8rem 1.2rem;
  }

  .no-scroll {
    overflow-y: hidden;
  }

  .nav-icon {
    order: 2;
    font-size: 1.5rem;
  }

  .hamburger {
    width: 1.5rem;
    height: 1rem;
    cursor: pointer;
    border: none;
    display: flex;
    background: none;
    align-items: center;
    position: relative;
  }

  .hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
    position: absolute;
    pointer-events: none;
    transition: opacity .3s .15s ease-out;
  }

  .hamburger span:hover {
    background: #0004ff;
    transition: .2s ease-in-out;
  }

  .hamburger span:nth-child(1), .hamburger span:nth-child(3) {
    transition: transform .2s ease-out;
  }

  .hamburger span:nth-child(1) {
    transform: translateY(7px);
  }

  .hamburger span:nth-child(3) {
    transform: translateY(-7px);
  }

  .hamburger.open span:nth-child(1) {
    transform: translate(0) rotate(45deg);
  }

  .hamburger.open span:nth-child(2) {
    opacity: 0;
    transition: opacity 0s ease-out;
  }

  .hamburger.open span:nth-child(3) {
    transform: translate(0) rotate(-45deg);
  }

  .navlinks-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    position: absolute;
    font-size: 2rem;
    top: 100%;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 15% 1.5rem 1rem 15%;
    transform: translate(-100%);
    background-color: #fff;
    backdrop-filter: blur(10px);
  }

  .navlinks-container.open {
    transform: translate(0%);
  }

  .navlinks-container a {
    margin-right: 1.5rem;
  }
}

@media (max-width: 500px) {

  nav {
    padding: .5rem 1rem;
  }

  .nav-icon {
    order: 2;
    font-size: 1.5rem;
  }
}

/* Home */

.container-home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.subcontainer-home {
  transform: translateY(-3rem);
}

.photo-mobile, .drop-me-a-line {
  display: none;
}

.subcontainer-home .title {
  font-family: 'Friends-very-bold','Neue-Machina';
  text-align: center;
  font-size: 6rem;
  width: 70vw;
  line-height: 8rem;
}

.name {
  border-bottom: 2px solid #000;
}

.icon-photo-1 {
  transform: translateY(-4rem) translateX(-5.5rem);
  position: absolute;
  width: 9rem;
  height: 9rem;
}

.icon-photo-2 {
  transform: translateY(-4rem) translateX(0rem) rotate(25deg);
  transition: .2s;
  width: 9rem;
  height: 9rem;
  position: absolute;
  border-radius: 100px;
  border: solid 0.5rem white;
  box-shadow: 0px 2.7px 5.3px rgba(0, 0, 0, 0.15), 0px 40px 80px rgba(0, 0, 0, 0.1);
}

.icon-photo-2:hover {
  transform: scale(4);
}

.icon-photo-3 {
  transform: translateY(3.5rem) translateX(0rem);
  position: absolute;
  z-index: 100;
  width: 6rem;
  height: 6rem;
}

.photo {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  border: solid 1px #000;
}

.arrow-icon-container {
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  bottom: 3rem;
  border: solid 2px black;
  padding: 1rem .8rem 1rem .8rem;
  border-radius: 100px;
  transition: 0.3s;
}

.arrow-icon-container:hover {
  transform: translateY(-3px);
}

@media screen and (max-width: 1550px) {

  .subcontainer-home .title {
    line-height: 6rem;
    font-size: 4rem;
    width: 90vw;
  }

  .icon-photo {
    width: 8rem;
    height: 8rem;
  }

}

@media screen and (max-width: 1200px) {

  .subcontainer-home .title {
    font-size: 3.5rem;
  }

}

@media screen and (max-width: 1060px) {

  .subcontainer-home .title {
    line-height: 4rem;
    font-size: 3rem;
    text-align: left;
  }

  .icon-photo {
    display: none;
  }

  .arrow-icon-container {
    padding: .8rem .6rem .8rem .6rem;
  }

  .arrow-icon {
    width: 1rem;
  }

}

@media screen and (max-width: 600px) {

  .subcontainer-home .title {
    width: 80vw;
  }

  .subcontainer-home {
    top: 2rem;
    position: absolute;
    top: 5rem;
    transform: translateY(0);
  }

  .photo-mobile {
    background-color: rgb(235, 235, 255);
    display: block;
    width: 5rem;
    border-radius: 100px;
    margin-bottom: 2rem;
  }

  .drop-me-a-line {
    display: block;
    width: fit-content;
    margin-top: 2rem;
    color: #0004ff;
    text-decoration: underline;
  }

  .subcontainer-home .title {
    font-family: 'Friends-title';
    line-height: 2.2rem;
    font-size: 1.5rem;
  }

  .arrow-icon-container {
    bottom: 2.5rem;
  }

}

/* About me */

.container-about {
  background-color: #f8f9ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-about-me {
  width: 5rem;
  height: 5rem;
}

.link-container {
  width: fit-content;
}

.link-resume {
  color: #0004ff;
  text-decoration: underline;
  margin-top: 3rem;
}

.hobbies-title {
  margin: 4rem 0 2rem 0;
}

.hobbies-item {
  display: flex;
  flex-wrap: wrap;
  gap: .7rem;
}

.hobbies-item p {
  border: solid 1px #dedede;
  font-size: 1.2rem;
  background-color: #fff;
  padding: .4rem 1rem;
  border-radius: 15px;
}

.ask-me {
  margin-top: 3rem;
}

.ask-me a {
  color: #000;
  text-decoration: none;
}

@media screen and (max-width: 600px) {

  .ask-me p {
    font-size: 1rem;
  }

}

/* Work */

.work-grid-container {
  width: 75%;
  margin: 5rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  padding-bottom: 5rem;
}

.icon-work {
  width: 5rem;
  height: 5rem;
}

.tags {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: .8rem;
  margin: 1rem 0;
}

.tags p {
  font-size: 1rem;
  color: #1a1a1a;
  background-color: #f4f4f4;
  border-radius: 100px;
  padding: .2rem 1rem;
}

.project-name a {
  text-decoration: none;
}

.project-cover {
  border-radius: 20px;
  width: 100%;
  height: 20rem;
  margin-bottom: 1.5rem;
  transition: .2s ease-in-out;
}

.cover-design-system {
  background-image: url(../assets/img/project/design-system/design-system-general-visual.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover-billing-flow {
  background-image: url(../assets/img/project/billing-flow/billing-flow-general-visual.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover-landing-page {
  background-image: url(../assets/img/project/landing-page/landing-page-general-visual.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover-tenant-creation {
  background-image: url(../assets/img/project/tenant-creation/tenant-creation-general-visual.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover-ttc {
  background-image: url(../assets/img/project/ttc/ttc-general-visual.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (hover: hover) {
  .project-cover:hover {
    transform: translate(0, -3px);
  }
}

.project-name {
  margin-left: 1rem;
}

@media screen and (max-width: 600px) {

  .project-name {
    margin-left: .5rem;
  }

}

/* More info */

.text-more-details {
  width: 90vw;
  margin: 0 auto;
  padding-bottom: 8rem;
  display: flex;
  justify-content: center;
}

.text-more-details a {
  color: #000;
  text-decoration: none;
}

.more-details-email {
  border-bottom: solid 1px #cecece;
  padding-bottom: .1rem;
  transition: 0.2s;
}

.more-details-email:hover {
  border-bottom: solid 1px #7d7d7d;
}

@media (hover: hover) {
  .more-details-email:hover {
    border-bottom: solid 1px #7d7d7d;
  }
}

@media screen and (max-width: 600px) {

  .text-more-details p {
    font-size: 1rem;
  }

}


/* Background */

.container-background {
  background-color: #f8f9ff;
}

.icon-globe {
  width: 5rem;
  height: 5rem;
}

.background-items-container {
  margin-top: 5rem;
}

.background-card {
  padding: 3rem 2.5rem;
}

.background-card:not(:last-child) {
  border-bottom: 1px solid #dddddd;
}

.background-info {
  display: flex;
  align-items: center;
}

.background-visual {
  margin-right: 2rem;
  height: 7rem;
  width: 7rem;
}

.background-name {
  font-family: 'Friends-very-bold', 'Open Sans', sans-serif;
  color: #000;
  font-size: 1.5rem;
}

.background-corps {
  color: #000;
}

@media screen and (max-width: 600px) {

  .background-card {
    padding: 1.5rem 1rem;
  }

  .background-name {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: .5rem;
  }

  .background-corps {
    font-size: 1rem;
    line-height: 1.5rem;
  }

}

/* Contact */

.container-contact {
  height: 95.4vh;
}

.icon-peace {
  width: 5rem;
  height: 5rem;
}

.container-contact-cards {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
}

.contact-card {
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  transition: 0.3s;
  text-decoration: none;
}

@media (hover: hover) {
  .contact-card:hover {
    background-color: #f7f7f7;
    transform: translateY(-3px);
  }
}

.contact-icon {
  height: 3rem;
  width: 3rem;
  border-radius: 10px;
  margin-right: 1.5rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

.title-contact-card {
  font-family: 'Friends-bold', 'Open Sans', sans-serif;
  color: #000;
  line-height: 1.2rem;
}

.subtitle-contact-card {
  color: #949494;
  font-size: 1rem;
  line-height: 1.2rem;
}

/* Footer */

.credits {
  color: #6b6b6b;
  padding: 0.75rem 0;
  text-align: center;
  transition: 0.2s;
}

.credits:hover {
  color: #000;
}

.credits p {
  font-size: .8rem;
}

/* Responsiveness */

@media screen and (min-width: 1600px) {

  .project-cover {
    height: 30rem;
  }

}

@media screen and (max-width: 1440px) {
  .subcontainer {
    width: 60%;
  }

  .corps {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 300;
    text-decoration: none;
  }

}

@media screen and (max-width: 1000px) {

  .subcontainer, .subcontainer-work, .work-grid-container {
    width: 80vw;
  }

  .hobbies-item p {
    font-size: 1rem;
  }

  .project-cover {
    width: 100%;
    height: 20rem;
  }

  .background-visual {
    width: 5rem;
    height: 5rem;
  }
}

@media screen and (max-width: 800px) {

  .subcontainer, .subcontainer-work, .work-grid-container {
    width: 90vw;
  }

  .work-grid-container {
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .container-contact {
    height: fit-content;
  }

  .container-contact-cards {
    grid-template-columns: 1fr;
  }

  .contact-card {
    border: solid 1px #dddddd;
  }
}
