* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  white-space: normal;
}

body,
html {
  /* transition: background-color .3s ease, .05s color ease; */
  overscroll-behavior-x: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-kerning: normal;
  scroll-behavior: smooth;
  cursor: default;
  white-space: normal;
  background-color: #FAF8F7;
}

a {
  color: inherit;
  text-underline-offset: 8px;
  text-decoration-color: rgba(0, 0, 0, 0.25);
  transition: all ease-in-out 0.2s;
  width: fit-content;
}

a:hover {
  text-decoration-color: rgba(0, 0, 0, 0.1);
}

.arrow-external-link, .arrow-external-link-horizontal, .arrow-external-link-horizontal-left, .arrow-page-link {
  display: inline-block;
  transition: transform 0.2s, color 0.2s;
}

a:hover .arrow-external-link-horizontal-left {
  transform: translateX(-2px); /* Moves arrow up and slightly rotates it */
  color: #4359e8;
}

a:hover .arrow-external-link {
  transform: translateY(-2px) translateX(2px); /* Moves arrow up and slightly rotates it */
  color: #4359e8;
}

a:hover .arrow-external-link-horizontal {
  transform: translateX(2px); /* Moves arrow up and slightly rotates it */
  color: #4359e8;
}

a:hover .arrow-page-link {
  transform: translateY(4px); /* Moves arrow down and slightly rotates it */
  color: #4359e8;
}


b {
  font-family: system-ui;
  font-weight: 600;
}

p {
  font-size: 1.2rem;
  line-height: 2rem;
  color: #3b3b3b;
}

.small {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

h1 {
  font-size: 4rem;
  line-height: 4.5rem;
  font-weight: 600;
  letter-spacing: -.04rem;
  color: #242424;
}

h2 {
  font-size: 3rem;
  line-height: 3.5rem;
  font-family: system-ui;
  font-weight: 600;
  letter-spacing: -.02rem;
  color: #242424;
}

h3 {
  font-size: 1.5rem;
  line-height: 2.4rem;
  font-family: system-ui;
  font-weight: 600;
  letter-spacing: -.02rem;
  color: #242424;
}

.responsive-break {
  display: none;
}

.responsive-space {
  display: inline-block;
}

.paragraph {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0;
}

hr {
  border: none;
  height: 1px;
  background-color: #e2e2e2;
  margin: 0 0 6rem 0;
}

u {
  text-underline-offset: 10px;
  text-decoration-color: rgba(0, 0, 0, 0.25);
}

.icon-section {
  width: 5rem;
  transform: translateY(1rem);
}

.error {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.link-error-page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}

/* General selection style */
::selection {
  background-color: #e6eaff; /* Background color of the selection */
  color: #4359e8;            /* Text color of the selection */
}

/* Assets / Margins */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subcontainer-tools {
  width: 60vw;
  padding: 6rem 0 10rem 0;
}

.subcontainer-journey {
  width: 60vw;
  padding: 10rem 0;
}

.container-work {
  padding-top: 8rem;
}

.subcontainer-work, .subcontainer-contact {
  width: 60vw;
}

.reveal {
  opacity: 0;
  transform: translateY(100px);
  transition: all .5s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/* Button */

.button-container {
  cursor: pointer;
  display: flex;
  width: fit-content;
  border-radius: 100px;
  font-size: 1.2rem;
  border: solid 1px #000;
  text-align: center;
  padding: 1rem 2rem;
  transition: all .1s;
}

@media (hover: hover) {
  .button-container:hover {
    background-color: #ececec;
    transform: translateY(-3px);
  }
}

/* Navbar */

nav {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .8rem 1.5rem;
  backdrop-filter: blur(300px);
  -webkit-backdrop-filter: blur(300px);
  z-index: 20;
  top: 0;
}

.nav-icon {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: color 0.2s;
  font-size: 1.8rem;
  font-weight: 700;
}

.hamburger {
  display: none;
}

.navlinks-container a {
  transition: color 0.2s;
  padding: .6rem 1rem;
  border-radius: 10px;
  transition: 0.2s;
  font-size: 1.2rem;
}

.navlinks-container a:not(:last-child) {
  margin-right: .1rem;
}

.nav-icon:hover {
  color: #4359e8;
}
.navlinks-container a:hover {
  color: #4359e8;
}

@media (max-width: 900px) {

  nav {
    padding: .8rem 1.2rem;
    width: 100vw;
  }

  .no-scroll {
    overflow-y: hidden;
  }

  .nav-icon {
    font-size: 1.5rem;
  }

  .hamburger {
    width: 1.5rem;
    height: 1rem;
    cursor: pointer;
    border: none;
    display: flex;
    background: none;
    align-items: center;
    position: relative;
  }

  .hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background: #3b3b3b;
    position: absolute;
    pointer-events: none;
    transition: opacity .3s .15s ease-out;
  }

  .hamburger span:hover {
    transition: .2s ease-in-out;
  }

  .hamburger span:nth-child(1), .hamburger span:nth-child(3) {
    transition: transform .2s ease-out;
  }

  .hamburger span:nth-child(1) {
    transform: translateY(7px);
  }

  .hamburger span:nth-child(3) {
    transform: translateY(-7px);
  }

  .hamburger.open span:nth-child(1) {
    transform: translate(0) rotate(45deg);
  }

  .hamburger.open span:nth-child(2) {
    opacity: 0;
    transition: opacity 0s ease-out;
  }

  .hamburger.open span:nth-child(3) {
    transform: translate(0) rotate(-45deg);
  }

  .navlinks-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    position: absolute;
    font-size: 2rem;
    top: 100%;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 15% 1.5rem 1rem 15%;
    transform: translate(100%);
    background: rgba(250, 248, 247, 0.95);
  }

  .navlinks-container.open {
    transform: translate(0%);
  }

  .navlinks-container a {
    margin-right: 1.5rem;
    font-size: 2.5rem;
  }
}

@media (max-width: 500px) {

  nav {
    padding: .5rem 1rem;
  }
}

#progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  background: #FF6348;
  width: 0%;
  z-index: 30;
}

/* Home */

.container-home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  cursor: s-resize;
}

.subcontainer-home {
  width: 70vw;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.icon-hero {
  width: 4rem;
  height: 4rem;
  transform: translateY(-.5rem);
  vertical-align: middle;
}

.hero-title {
  line-height: 4rem;
  font-size: 3rem;
}

.inline-chunk {
  white-space: nowrap;
}

.highlight {
  color: #4359e8;
  white-space: nowrap;
  background-color: #e6eaff;

}

.hero-title-CTA {
  display: flex;
  gap: 2rem;
}

/*
.hero-title-CTA {
  background-image: linear-gradient(90deg, #3b3b3b, #3b3b3b, #3b3b3b, #3b3b3b, #808080, #c0c0c0, #3b3b3b, #3b3b3b, #3b3b3b, #3b3b3b);
  background-size: 300%;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient-animation linear 20s infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 300%;
  }
  100% {
    background-position: -300%;
  }
}*/

/*
.icon-wave {
  width: 9rem;
  height: 9rem;
  cursor: default;
}

.shadow-icon-wave {
  position: absolute;
  transform: translateY(-4rem) translateX(-5.5rem);
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  overflow: hidden;
  transition: transform 0.2s;
  box-shadow: 0px 2.7px 5.3px rgba(0, 0, 0, 0.15), 0px 40px 80px rgba(0, 0, 0, 0.1);
}

.shadow-icon-wave:hover {
  animation: wave 2s infinite;
}

@keyframes wave {
  0% { transform: translateY(-4rem) translateX(-5.5rem) rotate( 0.0deg); }
  10% { transform: translateY(-4rem) translateX(-5.5rem) rotate(14.0deg); }
  20% { transform: translateY(-4rem) translateX(-5.5rem) rotate(-8.0deg); }
  30% { transform: translateY(-4rem) translateX(-5.5rem) rotate(14.0deg); }
  40% { transform: translateY(-4rem) translateX(-5.5rem) rotate(-4.0deg); }
  50% { transform: translateY(-4rem) translateX(-5.5rem) rotate(10.0deg); }
  60% { transform: translateY(-4rem) translateX(-5.5rem) rotate( 0.0deg); }
  100% { transform: translateY(-4rem) translateX(-5.5rem) rotate( 0.0deg); }
}

.icon-photo-2 {
  transform: translateY(-4rem) translateX(0rem) rotate(25deg);
  transition: .2s;
  width: 9rem;
  height: 9rem;
  position: absolute;
  border-radius: 100px;
  border: solid 0.5rem white;
  box-shadow: 0px 2.7px 5.3px rgba(0, 0, 0, 0.15), 0px 40px 80px rgba(0, 0, 0, 0.1);
}

.icon-photo-2:hover {
  transform: scale(3);
  cursor: default;
}

.icon-brush {
  z-index: 100;
  width: 9rem;
  height: 9rem;
  transition: transform 0.2s;
  cursor: default;
}

.shadow-icon-brush {
  position: absolute;
  transform: translateY(4rem) translateX(0rem) rotate(-15deg);
  width: 9rem;
  height: 9rem;
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 0px 2.7px 5.3px rgba(0, 0, 0, 0.15), 0px 40px 80px rgba(0, 0, 0, 0.1);
}

.shadow-icon-brush:hover {
  animation: write 2s ease-in-out infinite;
}

@keyframes write {
  0% { transform: translateX(0rem) translateY(4rem) rotate(-15deg); }
  10% { transform: translateX(0.2rem) translateY(4rem) rotate(-10deg); }
  20% { transform: translateX(0.4rem) translateY(4rem) rotate(-20deg); }
  30% { transform: translateX(0.6rem) translateY(4rem) rotate(-10deg); }
  40% { transform: translateX(0.8rem) translateY(4rem) rotate(-20deg); }
  50% { transform: translateX(1rem) translateY(4rem) rotate(-10deg); }
  60% { transform: translateX(0.8rem) translateY(4rem) rotate(-15deg); }
  70% { transform: translateX(0.6rem) translateY(4rem) rotate(-15deg); }
  80% { transform: translateX(0.4rem) translateY(4rem) rotate(-15deg); }
  100% { transform: translateX(0rem) translateY(4rem) rotate(-15deg); }
}

.photo {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  border: solid 1px #000;
}

@media screen and (min-width: 1700px) {

  .subcontainer-home .title {
    line-height: 6.5rem;
    font-size: 4.5rem;
  }

  .subcontainer-home .title-CTA {
    font-size: 3.25rem;
  }

  .shadow-icon-wave, .icon-photo {
    width: 7.5rem;
    height: 7.5rem;
  }

  .shadow-icon-brush, .icon-brush {
    width: 6rem;
    height: 6rem;
  }

}


@media screen and (max-width: 1200px) {

  .subcontainer-home .title {
    font-size: 3.5rem;
  }

  .subcontainer-home .title-CTA {
    font-size: 2.5rem;
  }

}

@media screen and (max-width: 1060px) {

  .subcontainer-home .title {
    line-height: 4.5rem;
    font-size: 3rem;
  }

  .subcontainer-home .title-CTA {
    line-height: 3rem;
    font-size: 2.14rem;
  }

  .icon-photo, .shadow-icon-wave, .shadow-icon-brush {
    display: none;
  }

}

*/

/* About me */

.container-tools {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paragraph-soft {
  color: #929292;
}


.soft-highlight {
  color: #3b3b3b;
}

.link-container {
  width: fit-content;
}

/* Work */

.work-grid-container {
  width: 75vw;
  margin: 5rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;

}

.date {
  color: #858585;
}

.project-name {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
}

.project-name h3 {
  margin-bottom: .5rem;
}

.tags {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: .6rem;
  margin: 1rem 0;
}

.tags p {
  font-size: 1rem;
  color: #838383;
  background-color: #ececeb;
  border-radius: 100px;
  padding: .1rem .8rem;
}

.project-cover {
  border-radius: 10px;
  width: 100%;
  margin-bottom: 1.5rem;
  transition: .2s ease-in-out;
  border: solid 1px #ededed;
}

.flagship-project {
  background-color: #F5F5F4;
  border: solid 4px #F1F0EF;
  border-radius: 20px;
  padding: 1rem;
}

@media (hover: hover) {
  .project-cover:hover {
    transform: translate(0, -3px);
  }
}

.tag-section {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  text-align: center;
  align-items: center;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
}

.tag-item {
  display: flex;
  align-items: center;
  gap: .5rem;
  border: solid 2px #dddddd;
  padding: 1.2rem 2rem;
  border-radius: 20px;
  position: relative;
}

.tooltip {
  display: none;
  position: fixed;
  background-color: #333;
  color: #fff;
  padding: 1rem 1.2rem;
  border-radius: 14px;
  white-space: normal;
  z-index: 10;
  font-size: 1rem;
  line-height: 1.5rem;
  pointer-events: none;
  max-width: 20rem;
  overflow-wrap: break-word;
  box-shadow: 0px 2.7px 5.3px rgba(0, 0, 0, 0.15), 0px 40px 80px rgba(0, 0, 0, 0.1);
}

.text-more-details {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 75vw;
  margin: 10rem auto;
}

.subcontainer-side-projects {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 0 auto 6rem auto;
  width: 60vw;
  gap: 1.5rem;
  border: solid 2px #F1F0EF;
  border-radius: 20px;
}

.side-projects-cards {
  display: flex;
  gap: 1.5rem;
}

.subcontainer-side-projects a {
  padding: 3rem 0;
  width: 100%;
  background-color: #f3f3f3;
  text-align: center;
  border-radius: 15px;
  transition: 0.2s;
}

.subcontainer-side-projects a:hover {
  background-color: #ececec;
  transform: translateY(-3px);
}


/* Journey */

.journey-items-container {
  margin-top: 5rem;
}

.journey-card {
  padding: 3rem 2.5rem;
  display: flex;
  align-items: center;
}

.journey-card:not(:last-child) {
  border-bottom: 1px solid #e2e2e2;
}

.journey-card div {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.journey-visual {
  margin-right: 2rem;
  height: 6rem;
}

/* Contact */

.container-contact {
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #F1F0EF;
  padding: 5rem 0 1rem 0;
  margin: 1rem;
}

.contact-text {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact-text img {
  margin-bottom: 1.5rem;
}

.container-contact-cards {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
}

.contact-card {
  border-radius: 15px;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1.6rem;
  transition: 0.2s;
  background-color: #ECEBE9;
  position: relative;
  text-decoration: none;
}

.contact-card:hover {
  background-color: #E9E8E7;
  transform: translateY(-3px);
}

.contact-icon {
  height: 4rem;
  border-radius: 10px;
  margin-right: 1.5rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title-contact-card {
  font-family: system-ui;
  font-weight: 600;
}

.subtitle-contact-card {
  color: #949494;
}

.click-to-copy {
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  transform: translateY(-50%);
  font-size: .8rem;
  color: #949494;
}

.tooltip-copy {
  position: absolute;
  bottom: 115%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 1rem 1.2rem;
  border-radius: 14px;
  font-size: 1rem;
  z-index: 10;
  white-space: nowrap;
  display: none;
  box-shadow: 0px 2.7px 5.3px rgba(0, 0, 0, 0.15), 0px 40px 80px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease;
}

.tooltip-copy::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

/* Footer */

.credits {
  color: #949494;
  padding: 0.75rem 0;
  text-align: center;
  transition: 0.2s;
}

.credits p {
  width: fit-content;
  margin: 0 auto;
}

.credits p:hover {
  color: #747474;
}

.credits p {
  font-size: 1rem;
}

/* Responsiveness */

@media screen and (min-width: 1700px) {

  p {
    font-size: 1.5rem;
    line-height: 2.3rem;
  }

  .subcontainer-home,
  .subcontainer-contact,
  .subcontainer-work,
  .subcontainer-tools,
  .subcontainer-journey {
    width: 40vw;
  }

  .work-grid-container {
    width: 60vw;
  }

}

@media screen and (max-width: 1400px) {

  .subcontainer-contact {
    width: 90vw;
  }
}

@media screen and (max-width: 1100px) {

  h1 {
    font-size: 2.8rem;
    line-height: 3rem;
  }

  h2 {
    font-size: 2.2rem;
    line-height: 2.6rem;
  }

  .small {
    font-size: 1rem;
    line-height: 1.4rem;
  }

  .icon-hero {
    width: 3.5rem;
    height: 3.5rem;
    transform: translateY(-.5rem);
  }

  .icon-section {
    width: 3.5rem;
    transform: translateY(.8rem);
  }

  .subcontainer-home,
  .subcontainer-tools,
  .subcontainer-work,
  .work-grid-container,
  .subcontainer-journey,
  .subcontainer-contact,
  .subcontainer-side-projects {
    width: 90vw;
  }

  .container-work {
    padding-top: 8rem;
  }

  .container-home {
    cursor: default;
  }

  .hero-title {
    font-size: 3rem;
  }

  .hero-title-CTA {
    line-height: 2.8rem;
    font-size: 1.8rem;
    flex-direction: column;
    gap: 1rem;
  }

  .tag-item {
    padding: .6rem 1rem;
    border-radius: 16px;
  }

  .tag-section {
    gap: 3rem;
  }

  .tag-list {
    gap: 1rem;
  }

  .tag-item img {
    width: 1.6rem;
  }

  .work-grid-container {
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .project-name {
    margin-left: .5rem;
  }

  .project-subtitle {
    margin-top: .5rem;
  }

  .text-more-details {
    width: 90vw;
    margin: 8rem auto;
  }

  .contact-icon {
    height: 3rem;
    border-radius: 10px;
    margin-right: 1.5rem;
  }

}

@media screen and (max-width: 800px) {

  h1 {
    font-size: 2.2rem;
    line-height: 2.4rem;
  }

  h2 {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

  h3 {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }

  .small {
    font-size: .9rem;
    line-height: 1.2rem;
  }

  .paragraph {
    margin: 1.2rem 0;
    gap: 1.2rem;
  }

  .hero-title {
    line-height: 3rem;
    font-size: 2.5rem;
  }

  .icon-hero {
    width: 3rem;
    height: 3rem;
    transform: translateY(-.2rem);
  }

  .icon-section {
    width: 3rem;
    transform: translateY(.5rem);
  }

  .side-projects-cards {
    flex-direction: column;
    gap: .5rem;
  }

  .side-projects-cards a {
    padding: 1rem 0 1.5rem 0;
    text-align: left;
    border: none;
    border-radius: 0;
    background-color: inherit;
    width: fit-content;
  }

  .side-projects-cards a:last-child {
    padding-bottom: .5rem;
  }

  .side-projects-cards a:hover {
    background-color: inherit;
    transform: none;
  }

  .subcontainer-journey {
    padding: 8rem 0 0 0;
  }

  .container-contact {
    margin-top: 8rem;
    border-radius: 0px;
    background-color: inherit;
    padding: 5rem 0 1rem 0;
    margin: 0;
  }


  .container-contact-cards {
    grid-template-columns: 1fr;
  }

  .contact-card {
    background-color: #F1F0EF;
  }

  .journey-items-container {
    margin-top: 3rem;
  }

  .journey-card {
    padding: 1.5rem .5rem;
    align-items: flex-start;
  }

  .journey-visual {
    margin-right: 1.5rem;
    height: 4rem;
    width: 4rem;
  }

  .flagship-project {
    background-color: inherit;
    border: none;
    border-radius: 0px;
    padding: 0;
  }

}

@media screen and (max-width: 660px) {

  h1 {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  .responsive-break {
    display: inline-block;
  }

  .responsive-space {
    display: none;
  }

  .hero-title {
    line-height: 2.5rem;
    font-size: 2rem;
  }

  .icon-hero {
    display: none;
  }

  .tag-list {
    gap: .8rem;
  }

  .tag-item {
    flex: auto;
    justify-content: center;
  }

  .contact-card:hover {
    background-color: #F7F3F2;
    transform: none;
  }

}
