/* Hero */

.hero {
  gap: 3rem;
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.introduction-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 60vw;
}

.introduction-text h1 {
  text-align: center;
}

.introduction-text h2 {
  font-size: 2.3rem;
  line-height: 3.5rem;
  font-weight: 400;
  text-align: center;
}

.tags {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1.5rem;
}

.introduction-visual img {
  display: block;
  width: 90vw;
  margin: 5rem auto 10rem auto;
  box-shadow:
  0px 2.7px 5.3px rgba(0, 0, 0, 0.02),
  0px 8.9px 17.9px rgba(0, 0, 0, 0.03),
  0px 40px 80px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}

@media (max-width: 1100px) {

  .introduction-text {
    width: 75vw;
  }

  .introduction-text h1 {
    text-align: left;
  }

  .introduction-text h2 {
    font-size: 1.8rem;
    line-height: 2.5rem;
    text-align: left;
  }

  .tags {
    justify-content: start;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .introduction-visual img {
    width: 100%;
    margin: 3rem auto 5rem auto;
    box-shadow: none;
    border-radius: 0;
  }

}

@media (max-width: 660px) {

  .hero {
    padding-top: 6rem;
  }

  .introduction-text {
    width: 90vw;
  }

  .introduction-text h2 {
    font-size: 1.6rem;
    line-height: 2.2rem;
    text-align: left;
  }

}

/* Navbar */

.navlinks-container-project a {
  transition: color 0.2s;
  padding: .6rem 1rem;
  border-radius: 10px;
  transition: 0.2s;
  font-size: 1.2rem;
}

.navlinks-container-project a:not(:last-child) {
  margin-right: .1rem;
}

.navlinks-container-project a:hover {
  color: #4359e8;
}


@media (max-width: 900px) {

  .navlinks-container-project a {
    font-size: 1rem;
    padding: .6rem .5rem;
  }

}

@media (max-width: 500px) {

  .navlinks-container-project a {
    font-size: .8rem;
  }

}

/* Content */

.summary {
  width: 100%;
  margin: auto 0;
  background-color: #F2EEEB;
  padding: 5rem 6rem;
  border-radius: 20px;
  border: solid 2px #eee7e2;
}

.summary ul {
  padding-left: 2rem;
  border-left: #e0e0e0 4px solid;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.summary li a {
  text-decoration: none;
  text-decoration-color: #4359e8;
  display: block;
}

.summary li p {
  color: #4359e8;
}

.summary li a:hover {
  text-decoration: underline;
  text-decoration-color: #4359e8;
}

.anchor {
  height: 1px;
}

/* Introduction */

.intro {
  display: flex;
  padding: 4rem 0;
  margin: 6rem auto 12rem auto;
  width: 90vw;
  gap: 4rem;
  border-top: solid 1px #e2e2e2;
  border-bottom: solid 1px #e2e2e2;
}

.my-role, .benefits {
  width: 100%;
}

.benefits ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Description */

.description {
  margin: 6rem auto;
  display: flex;
  width: 90vw;
  gap: 4rem;
  position: relative;
  align-items: flex-start;
}

.description h2 {
  font-size: 2.5rem;
  line-height: 3rem;
  margin-bottom: .5rem;
}

.note {
  color: #949494;
  font-style: italic;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.description-text {
  width: 50%;
}

.annex {
  margin-top: 1rem;
}

.product-metrics:first-child {
  margin-top: 1.5rem;
}

.product-metrics {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.product-metrics img {
  width: 24px;
}

.visual-container {
  width: 50%;
  height: auto;
  display: block;
  border: solid 3px #F7F3F2;
  box-shadow:
  0px 2.7px 5.3px rgba(0, 0, 0, 0.02),
  0px 8.9px 17.9px rgba(0, 0, 0, 0.03),
  0px 40px 80px rgba(0, 0, 0, 0.0.5);
  border-radius: 15px;
}

.visual-container-double {
  width: 50%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.visual-double {
  border: solid 3px #F7F3F2;
  box-shadow:
  0px 2.7px 5.3px rgba(0, 0, 0, 0.02),
  0px 8.9px 17.9px rgba(0, 0, 0, 0.03),
  0px 40px 80px rgba(0, 0, 0, 0.0.5);
  border-radius: 15px;
}

.visual-focus {
  margin: 6rem auto;
  display: flex;
  width: 90vw;
  flex-direction: column;
  gap: 4rem;
}

.visual-full {
  height: fit-content;
  width: 100%;
  border: solid 3px #F7F3F2;
  box-shadow:
  0px 2.7px 5.3px rgba(0, 0, 0, 0.02),
  0px 8.9px 17.9px rgba(0, 0, 0, 0.03),
  0px 40px 80px rgba(0, 0, 0, 0.0.5);
  border-radius: 20px;
}


/* More info */

.text-more-details {
  margin: 10rem auto 8rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.thank-you {
  display: flex;
  align-items: center;
  background-color: #F2EEEB;
  padding: 1.2rem 1.5rem;
  border-radius: 10px;
  width: fit-content;
  gap: 1rem;
}

.thank-you span {
  display: flex;
}

/* Footer */

.nav-project {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 12rem;
  padding: 2rem;
  gap: 2rem;
}

.nav-project p {
  line-height: 2rem;
}

.nav-previous,
.nav-home,
.nav-next {
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  text-align: center;
  transition: 0.1s;
  border-radius: 10px;
  background-color: #F7F3F2;
}

.previous-project-name, .next-project-name {
  font-size: 1.2rem;
}

.nav-previous:hover,
.nav-home:hover,
.nav-next:hover {
  background-color: #F2EEEB;
}

@media screen and (min-width: 1700px) {

  .description, .intro, .visual-focus {
    width: 60vw;
  }

}

@media screen and (max-width: 1100px) {

  .summary {
    padding: 3rem 4rem;
    border-radius: 15px;
  }

  .description h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .visual-full {
    border-radius: 15px;
  }

  }

@media screen and (max-width: 800px) {

  .description, .intro {
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 4rem auto 0 auto;
    gap: 2rem;
  }

  .visual-focus {
    margin: 4rem auto 0 auto;
    gap: 2rem;
  }

  .description h2 {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

  .description-text {
    width: 100%;
  }

  .visual-container, .visual-container-double {
    width: 100%;
  }

  .nav-project {
    padding: .5rem;
    gap: .5rem;
  }

  .nav-home {
    display: none;
  }

  .nav-project p {
    line-height: 1.5rem;
  }

  .nav-previous, .nav-next {
    width: 50%;
  }

  .previous-project-name, .next-project-name {
    font-size: 1rem;
  }

}


@media screen and (max-width: 660px) {

  .summary {
    padding: 2rem;
  }

  .summary ul {
    padding-left: 1.5rem;
    border-left: #e0e0e0 4px solid;
    margin-top: 1.5rem;
    gap: 1rem;
  }

  .summary ul li p {
    line-height: 1.8rem;
  }

  .nav-project {
    height: 8rem;
  }

  .nav-previous p, .nav-next p, .next-project-name, .previous-project-name {
    font-size: 1rem;
  }

  .next-project-name, .previous-project-name {
    font-size: .9rem;
  }

}
